<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8" />
  <title>Automatic Question Tagger</title>
  </head>
  
   <body>
    <!-- comment --> 
          
    <p>
      Welcome to the Automatic Question Tagger - V1. <br />
      Write your question and ask for tag recommendations (only supports English by now):
    </p>      
          

    <form method="post" action="{{ url_for('result') }}">
    
    <fieldset>
       <legend>Your question</legend> <!-- Titre du fieldset --> 

       <label for="title">Title:</label>
       <br />
       <!-- <input type="text" name="title" id="title" style="width: 500px; height: 10px" onkeypress="if (event.keyCode == 13) {event.preventDefault();<br />;}" required/> -->
       <input type="text" name="title" id="title" style="width: 500px; height: 10px" onkeypress="if (event.keyCode == 13) {event.preventDefault();<br />;}" required/>
       <br />

       <br />
       <label for="title">Body:</label>
       <br />
       <!-- <input type="text" name="body" id="body" style="width: 500px; height: 200px" onkeypress="if (event.keyCode == 13) {event.preventDefault();<br />;}" required/> -->
       <input type="text" name="body" id="body" style="width: 500px; height: 200px" onkeypress="if (event.keyCode == 13) {event.preventDefault();<br />;}" required/>

       <br />
       <br />
       <input type="submit" value="Recommend tags" />

   </fieldset>
   </form>
    
    
  </body>
  
</html>